{{#each posts as |post|}}
  <a href="/posts/{{post.id}}" style="color:inherit">
    <div class="row align-center mb-5 post-box bg-light bg-radius">
      <div class="col-md-12">
        <div class="row align-center">
          <div class="col-md-6">
            <h2>{{post.title}}</h2>
          </div>
          <div class="col-md-6 display-flex justify-flex-end-md">
            <p class="pr-5">{{makeTimestamp post.createdAt}}</p>
            <h3>{{post.user.username}}</h3>
          </div>
        </div>
        <div class="row align-center">
          <div class="col-md-12">
            <p>{{post.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
{{/each}}