<div class="row">
  <div class="col-md-12">
    <h2>{{postTitle}}</h2>
    <p>{{postBody}}</p>
  </div>
</div>

<div class="row pt-5 mt-5">
  <h3>Comments</h3>
</div>

<div class="row">
  <div class="col-md-12">
    {{#each comments as |comment|}}
      <div class="row bg-light mt-1">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h4>{{comment.user.username}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>{{comment.body}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{#if logged_in}}
  <div class="row pt-5 mt-5">
    <div class="col-md-12">
      <h2>Leave a Comment</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form comment-form">
        <input type="hidden" id="postId" value="{{postId}}" />
        <div class="form-group">
          <label for="commentBody">Comment:</label>
          <textarea
            class="form-input"
            type="textarea"
            id="commentBody"
          ></textarea>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <button class="btn btn-primary" type="submit">Comment</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{{/if}}

<script src="/js/viewPost.js"></script>